{% load static %}
{% load i18n %}
{% get_current_language as LANG %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Default title{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  </head>
  <body class="container-fluid px-3">
     <div class="d-flex">
      {% if LANG == "en" %}
      <a class="link-primary link-underline-opacity-0 ms-auto mt-3" href="/fr/articles">Passez en français</a>

      {% else %}
      <a class="link-primary link-underline-opacity-0 ms-auto mt-3" href="/en/articles">Switch to English</a>

      {% endif %}
    </div>
      <div class="col-12 d-flex align-items-baseline gap-3 mt-2 pb-2 mb-4 border-bottom">
        <h1>Articles</h1>
        <h5 class="text-muted fw-normal">{% trans 'Share your writings' %}</h5>
      </div>
    {% block navbar %}
    <nav class="navbar navbar-dark bg-dark rounded navbar-expand-lg p-1"> 
      <ul class="navbar-nav d-flex  w-100 align-items-center">
        <li class="nav-item  ">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="bi bi-journal text-secondary" style="font-size: 1.2rem;"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles' %}">{% trans 'Articles' %}</a>
        </li>
      
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'favourites' %}">{% trans 'Favourites' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'publications' %}">{% trans 'Publications' %}</a>
        </li>
        <li class="nav-item ms-auto pe-4">
          <span class="navbar-text">{% trans 'Logged as' %} {{ request.user }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" class="ms-auto pe-2">{% trans 'Logout' %}</a>
        </li>
        </ul>
        {% else %}
        <li class="nav-item"> 
        <a class="nav-link" href="{% url 'register' %}">{% trans 'Register' %}</a>
        </li>
        </ul>
        {% if messages %}
          {% for message in messages %}
            <div class="error">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <form method="POST" action="{% url 'login' %}" class="d-flex align-items-center ms-auto gap-1 pe-4">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <label for="{{menu_login_form.username.id_for_label}}" class="visually-hidden">{% trans 'Username' %}</label>
          {{ menu_login_form.username }}
          <label for="{{menu_login_form.password.id_for_label}}" class="visually-hidden">{% trans 'Password' %}</label>
          {{ menu_login_form.password }}
          <button class="btn btn-sm btn-light" type="submit">{% trans 'Login' %}</button>
        </form>
        {% endif %}
    </nav>
    {% endblock %}
    {% block content %}
    <p>Default content here.</p>
    {% endblock %}
  </body>
</html>
