{% extends 'base.html' %}
{% load i18n %}


{% block title %} Publication {% endblock %}
{% block content %}
<a href="{% url 'publish' %}">publish</a>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Synopsis</th>
        <th>Created</th>
        <th>Detail</th>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.synopsis }}</td>
        <td>{{ article.created|date:"Y-m-d H:i" }}</td>
        <td><a href="{% url 'article-detail' article.pk %}">View details</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}