
<!DOCTYPE html>
<html lang="en"></html>
    <head>
        <meta charset="utf-8">
        <title>Publication</title>
    </head>
    <body>
        <a href="{% url 'logout' %}">logout</a>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Synopsis</th>
                <th>Detail</th>
            </tr>
            {% for article in articles %}
            <tr>
                <td><a href="{% url 'article-detail' article.pk %}">{{ article.title }}</a></td>
                <td>{{ article.author }}</td>
                <td>{{ article.synopsis }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>