<!DOCTYPE html>
<html lang="fr"> 
<head>
    <meta charset="utf-8">
    <title>CV {name} {surname} </title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }
        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>CV Dumaine Yann</h1>
    <h2>Résumé:</h2>
    <p>
        Prochainement diplômé de l'ecole 42, je cherche une entreprise 
        épanouissante pour travailler et gagner ma vie.
    </p>
    <h2>Information</h2>
    <ul> 
        <li>age: {age}</li>
        <li>profession: {profession}</li>
    </ul>
    <h2> Competences</h2>
    <table>
        <tr>
            <th>Force:</th>
            <td>*****</td>
        </tr>
        <tr>
            <th>English:</th>
            <td>***</td>
        </tr>
        <tr>
            <th>French:</th>
            <td style="border: 1px solid #424242" >*****</td>
        </tr>

    </ul>
    </table>
        <h2> Expériences :</h2>
    <ol>
        <li>2016 - Commis de cuisine :</li>
        <ul>
            <li> Gestion du stress : servir les clients </li>
            <li> Communication : parler à ratatouille </li>

        </ul>
        <li>2018 - Assistant de bureau:</li>
        <ul>
            <li> Expertise numerique : photocopiage de documents </li>
            <li> Minutie : servir le café </li>
        </ul>
        <li>2020 - Gourou de l'association, les hérissons du bosquet</li>
        <ul> <li> communication: recruter de nouveaux membres</li>
        </ul>
    </ul>
</body>
</html>