<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ex03: Fifty shades of bic.</title>
    <style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    td, th {
        padding: 0;
    }
</style>
</head>
<body>
    <table>
        <tr>
            <th>
                black
            </th>
             <th>
                red
            </th>
            <th>
                green
            </th>
            <th>
                blue
            </th>
        </tr>
        {% for colors in shades %}
        <tr>
            <td style="height: 40px; width: 80px; background-color: {{colors.black}};"></td>
            <td style="height: 40px; width: 80px; background-color: {{colors.red}};"></td>
            <td style="height: 40px; width: 80px; background-color: {{colors.green}};"></td>
            <td style="height: 40px; width: 80px; background-color: {{colors.blue}};"></td>
        </tr>
        {% endfor %}
    </table>
</body>